#contactContainer {
    width: 35vw;
    height: 100vh;
    float: left;
    background-color: #000000;
    display: grid;
    background-image: url("../media/photos/nin_photo.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: auto;

}

#contactInfoHeader {
    margin-bottom: 0%
}

.subHeader {
    font-size: 20px;
}

.photoCredit {
    position: absolute;
    float: left;
    z-index: 1;
    left: 1%;
    bottom: 2%;
    font-size: 14px;
}