#contactInfo {
    text-align: right;
    padding: 1% 3%;
    height: 35%;
    color: white;
}

.contactIcon img {
    cursor: pointer;
    height: 25px;
}

.contactIcon img:hover {
    filter: invert(100%)
}