#contactContainer {
    width: 35vw;
    height: 100vh;
    float: left;
    background-color: #000000;
    display: grid;
    background-image: url("../media/photos/nin_photo.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: auto;

}

#contactInfoHeader {
    margin-bottom: 0%
}

.subHeader {
    font-size: 20px;
}

.photoCredit {
    position: absolute;
    float: left;
    z-index: 1;
    left: 1%;
    bottom: 2%;
    font-size: 14px;
}

@media only screen and (max-width: 1023px) {
    #contactContainer {
        width: 100vw;
        height: 20vh;
        background-position: left;
        background-size: contain;
        position: fixed;
        z-index: 1;
    }
}

@media only screen and (max-width: 435px) {
    #contactContainer {
        height: 25vh;
    }

    .subHeader {
        font-size: 16px
    }

    #contactInfoHeader {
        margin-top: 0%;
        font-size: 28px;
    }
}

@media only screen and (max-width: 375px) {
    .subHeader {
        font-size: 14px;
    }

    #contactInfoHeader {
        margin-top: 0%;
        font-size: 28px;
    }
}

@media only screen and (max-width: 360px) {
    .photoCredit {
        font-size: 12px;
    }

    #contactContainer {
        z-index: 2;
    }
}