.aboutPage {
    max-width: 75vw;
    max-height: 100vh;
}

.aboutContent {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    text-align: justify;
    overflow: scroll;
    max-height: 80vh;
    animation: fadein 1.5s
}

@keyframes fadein {
    from {opacity: 0}
    to {opacity: 1}
}

h1 {
    text-align: center;
}