.aboutPage {
    max-width: 75vw;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.aboutContent {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    text-align: justify;
    overflow: scroll;
    padding-top: 25px;
    max-width: 75vw;
    max-height: 75vh;
    margin-left: 29%;
    animation: fadein 1.75s;
    padding-top: 5%;
    padding-left: 10px;
    padding-right: 10px
}

@keyframes fadein {
    from {opacity: 0}
    to {opacity: 1}
}

.aboutPage h1 {
    text-align: center;
}

/* iPhone X */

@media only screen and (max-width: 812px) and (min-height: 375px) and (orientation:landscape) {
    .aboutContent {
        padding-top: 200px;
        margin-bottom: -100px;
    }

    .aboutText {
        margin-bottom: -150px;
    }

    .aboutPage h1 {
        margin-top: 15px;
    }
}
  
@media screen and (min-width:375px) and (max-height: 812px) and (orientation:portrait){
    .About {
        max-height: 65vh;
    }

    .aboutPage h1 {
        margin-left: -240px;
        width: 300px;
        margin-top: 17px;
        margin-bottom: 25px;
    }

    .aboutContent {
        width: 400px;
        margin-left: 50px;
    }

    .aboutContent img {
        width: 300px;
        padding-top: 200px;
    }


}

/* iPhone 6/7/8 */

@media only screen and (max-width: 667px) and (min-height: 375px) and (orientation:landscape) {
    .aboutContent {
        padding-top: 200px;
        margin-bottom: -100px;
    }

    .aboutText {
        margin-bottom: -150px;
    }

    .aboutPage h1 {
        margin-top: 15px;
        margin-left: -150px;
    }
}
  
@media screen and (min-width:375px) and (max-height: 667px) and (orientation:portrait){
    .About {
        max-height: 65vh;
    }

    .aboutPage h1 {
        margin-left: -240px;
        margin-top: 17px;
        margin-bottom: 25px;
    }

    .aboutContent {
        width: 300px;
        margin-left: 50px;
        padding-top: 100px;
    }

    .aboutContent img{
        width: 275px;
    }
}

/* iPhone 6/7/8 Plus */

@media only screen and (max-width: 736px) and (min-height: 414px) and (orientation:landscape) {
    .aboutContent {
        padding-top: 175px;
        margin-bottom: -100px;
    }

    .aboutText {
        margin-bottom: -150px;
    }

    .aboutPage h1 {
        margin-top: 15px;
        margin-left: -150px;
    }
}
  
@media screen and (min-width:414px) and (max-height: 736px) and (orientation:portrait){
    .About {
        max-height: 65vh;
    }

    .aboutPage h1 {
        margin-left: -240px;
        width: 300px;
        margin-top: 15px;
        margin-bottom: 25px;
    }

    .aboutContent {
        width: 300px;
        margin-left: 50px;
        padding-top: 10px;
        text-align: justify
    }

    .aboutContent img {
        width: 300px;
        padding-top: 265px;
    }
}

/* iPad */

@media only screen and (max-width: 1024px) and (min-height: 768px) and (orientation:landscape) {
    .aboutPage {
        height: 77.5vh;
    }
    .aboutContent {
        padding-top: 0px;
        margin-left: 200px;
        margin-bottom: -100px;
    }

    .aboutText {
        margin-bottom: -150px;
    }

    .aboutPage h1 {
        margin-top: -25px;
        margin-left: -75px;
    }
}
  
@media screen and (min-width:768px) and (max-height: 1024px) and (orientation:portrait){
    .About {
        max-height: 65vh;
    }

    .aboutPage h1 {
        margin-left: -125px;
        width: 300px;
        margin-top: 15px;
        margin-bottom: 25px;
    }

    .aboutContent {
        width: 500px;
        margin-left: 125px;
        padding-top: 10px;
        padding-left: 20px;
    }
}

/* iPad Pro */

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation:portrait) {
    .aboutPage h1{
        margin-left: -50px;
        margin-bottom: -15px;
    }
}

@media only screen and (min-width: 1366px) and (max-height: 1024px) and (orientation:landscape){
    .aboutPage h1 {
        margin-bottom: -15px;
    }

    .aboutContent {
        margin-left: 260px;
    }
}