.App {
  max-height: 90vh;
  max-width: 100vw;
  background-color: black;
  color: white;
  margin-top: 50px;
  margin-left: 25px;
  margin-right: 25px;
  animation: fadein 1.75s;
  overflow: scroll;
}

h1, h2 {
  text-align: center;
}

h1 {
  padding-left: 350px;
  padding-right: 50px;
}

@keyframes fadein {
  from {opacity: 0}
  to {opacity: 1}
}

@media screen and (width: 812px) and (height: 375px) and (orientation:landscape){
  /* .App {
    max-width: 100vw;
    margin-top: 20px;
    margin-bottom: 20px;
  } */

  h1, h2 {
    text-align: center;
  }

  h1 {
    padding-left: 200px;
    padding-right: 0px;
  }
}

@media screen and (orientation:landscape) {
  .App {
    margin-top: 23px;
  }
}

@media screen and (orientation:portrait){
  .App {
    margin-top: 65px;
  }
}

/* iPad */
@media screen and (width:1024px) and (height: 768px) and (orientation:landscape){
  .App {
    margin-top: 75px;
  }
}

@media screen and (width:768px) and (height: 1024px) and (orientation:portrait){
  .App {
    margin-top: 75px;
  }
}

/* iPad Pro */
@media screen and (width:1366px) and (height: 1024px) and (orientation:landscape){
  .App {
    margin-top: 150px;
    height: 75vh;
  }
}

@media screen and (width:1024px) and (height: 1366px) and (orientation:portrait){
  .App {
    margin-top: 125px;
    height: 65vh;
  }
}

