.contactContent {
    animation: fadein 1.5s;
    margin-left: 350px;
}

.contactForm {
    display: flex;
    align-items: center;
    justify-content: center;
}


.contactPage h1 {
    padding-left: 0px;
    padding-right: 0px;
}

.contactIcons {
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 200px;
}

.contactIcons p {
    text-align: center;
    margin-left: -40%;
    margin-right: 300px;
}

.contactContent img {
    filter: grayscale(100%)
}

.linkMessage {
    font-style: italic;
}

@keyframes fadein {
    from {opacity: 0}
    to {opacity: 1}
}
