.homePage {
    max-width: 75vw;
    max-height: 85vh;
    margin-left: 15px;
}

.headshot {
    float: left;
    margin-left: 125px;
}
  
.homeText {
    font-family: 'Fira Sans', sans-serif;
    color: white;
    font-size: 20px;
    margin-left: 500px;
    padding-left: 50px;
    padding-top: 100px;
}

.homeIcons {
    margin-left: 71.75%;
}


.homeIcons p {
    margin-left: -15%;
    margin-right: -10%;
    color: white;
    /* background-color: black; */
    font-size: 20px;
    text-align: center;
    font-style: italic;
}

.homeIcons img {
    cursor: pointer;
}

.homeText h3 {
    text-align: center;
}

.homeText p {
    text-align: justify;
}

.homeContent {
    width: 75vw;
    margin-left: 55px;
    margin-right: 50px;
    padding-top: 25px;
}

  /* iPad */
  @media only screen and (min-width: 768px) and (min-height: 1024px) and (orientation:portrait){
    .Home {
        max-height: 80vh;
    }

    .homePage {
        margin-left: 16% !important;
        height: 80vh;
        display: block !important;
    }
  
    .homePage h1 {
        text-align: center;
        font-size: 26px;
        margin-right: 0px;
        margin-left: -250px;
        width: 500px;
    }
  
    .homeContent {
        margin-left: 0%;
        width: 67vw;
        height: 250px;
        margin-bottom: 0px;
    }
  
    .homeText {
        font-size: 16px;
        margin: auto;
        margin-left: 30% !important;
        padding: 0% !important;
        text-align: center;
    }
  
    .homeText h3 {
        margin-left: -34%;
    }
  
    .homeText p {
        margin: auto;
        margin-bottom: 3%;
        margin-left: -22%;
        margin-right: 15%;
    }
  
    .homeIcons {
        margin-left: 42.5% !important;
        padding-bottom: 0px;
    }

    .homeIcons p {
        margin-left: -55%;
        margin-right: 10%;
    }

  }

  /* iPad Pro */
  @media only screen and (width: 1024px) and (height: 1366px) and (orientation:portrait){

    .homePage {
        margin-top: 75px;
        margin-left: 0px !important;
    }
  
    .homePage h1 {
        text-align: center;
        font-size: 26px;
        margin-right: 0px;
        margin-left: -100px;
        margin-top: -50px;
        width: 500px;
    }
  
    .homeContent {
        margin-top: 0px;
        width: 67vw;
        height: 250px;
        margin-left: 200px;
        margin-bottom: 0px;
    }

    .headshot {
        height: 50vh;
        margin-left: 10%;
    }
  
    .homeText {
        font-size: 16px;
        margin: auto !important;
        margin-top: 100% !important;
        margin-left: 8% !important;
    }
  
    .homeText h3 {
        text-align: center;
        padding-right: 22px;
        margin-top: 425px;
        margin-left: -95px;
    }
  
    .homeText p {
        text-align: justify;
        margin-left: 40px;
        padding-left: 0px;
        padding-right: 30px;
        width: 40vw;
    }
  
    .homeIcons {
        margin-left: 260px !important;
    }

    .homeIcons p {
        margin-left: -70%;
        margin-right: 10%;
    }
  }

/* phones & mini tablet */

@media only screen and (max-width: 768px) {
    .homePage h1 {
        margin-left: 0%;
        margin-right: 0%;
        padding-left: 0%;
        padding-right: 0%;
    }

    .homePage {
        margin-left: 0%;
        display: grid;
        overflow-x: hidden;
        max-width: 80vw;
    }

    .headshot {
        width: 65vw;
        margin-top: 0%;
        margin-left: 0%;
        margin-bottom: 5%;
    }

    .homeText {
        margin-left: 0%;
        margin-right: 0%;
        padding-right: 15%;
        padding-left: 0%;
    }

    .homeIcons {
        margin-left: 25%;
    }
}

@media only screen and (max-width: 823px) and (orientation: landscape){
    .homePage h1 {
        margin-top: 2%;
        margin-left: 0%;
        margin-right: 0%;
        padding-left: 0%;
        padding-right: 0%
    }

    .homePage {
        margin-left: 0%;
        display: grid;
        
    }

    .homeContent {
        margin-left: 15%;
    }

    .headshot {
        width: 55vw;
        margin-top: 0%;
        margin-left: 5%;
        margin-bottom: 5%;
    }

    .homeText {
        margin-left: 0%;
        margin-right: 0%;
        padding-right: 20%;
        padding-left: 5%;
    }

    .homeText h3 {
        margin-left: 3%
    }

    .homeIcons {
        margin-left: 33%;
    }

    .homeIcons p {
        padding-left: 0%;
        padding-right: 37%;
        margin-right: 0%
    }
}

@media only screen and (min-width: 823px) and (min-height: 411px) and (orientation: landscape){
    .homePage h1 {
        padding: 0%;
        padding-left: 33%
    }

    .homeContent {
        margin: auto;
    }

    .homeText {
        margin: auto;
        padding: 0%;
        margin-left: 80%;
        margin-top: 15%;
        width: 36%;
    }

    .homeIcons {
        margin: auto;
        margin-left: 90%;
        margin-right: -7%;
    }
}