.headshot {
    float: left;
    margin-left: 125px;
}
  
.homeText {
    font-family: 'Fira Sans', sans-serif;
    color: black;
    font-size: 20px;
    margin-left: 500px;
    padding-left: 50px;
}

.icons {
    margin-left: 550px;
    text-align: center;
    font-style: italic;
}

.icons p {
    color: white;
    background-color: black;
    font-size: 20px;
}

.icons img {
    cursor: pointer;
}

.homeText h3 {
    text-align: center;
}

.homeText p {
    text-align: justify;
}

.homeContent {
    /* margin-top: 11vh; */
    width: 75vw;
    height: 100vh;
    animation: fadein 1.5s;
    margin-left: 55px;
    margin-right: 50px;
}

@keyframes fadein {
    from {opacity: 0}
    to {opacity: 1}
}

@media only screen and (max-width: 425px){
    /* for mobile phones */
    .headshot {
        float: left;
    }

    .homeText {
        font-size: 18px;
        text-align: justify;
    }
}