.headshot {
    float: left;
    margin-left: 150px;
}
  
.homeText {
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    color: black;
    font-size: 20px;
    margin: 50px;
}

.homeContent {
    /* margin-top: 11vh; */
    width: 100vw;
    height: 100vh;
    animation: fadein 1.5s
}

@keyframes fadein {
    from {opacity: 0}
    to {opacity: 1}
}

@media only screen and (max-width: 425px){
    /* for mobile phones */
    .headshot {
        float: left;
    }

    .homeText {
        font-size: 18px;
        text-align: justify;
    }
}