.projectContent {
    animation: fadein 1s;
    background-color: black;
    color: white;
}

.player {
    width: 50vw;
    /* height: 40vh; */
    float: center;
    border-style: solid;
    border-color: white;
}

.description {
    overflow: scroll;
    float: center;
    text-align: justify;
    font-size: 16px;
}

.icon {
    background-color: white;
}

.description a:link, a:visited {
    color: white !important;
    text-decoration: underline;
}

.description a:hover, a:active {
    background-color: white;
    color: black !important;
    text-decoration: none;
}

@keyframes fadein {
    from {opacity: 0}
    to {opacity: 1}
}