.projectCard {
    background-color: white;
    color: black;
    width: 27vw;
    height: 30vw;
    display: inline-grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    text-align: center
}

.projectCard img {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    cursor: pointer;
    float: center;
}