.publication {
    background-color: rgb(245, 245, 245);
    color: black;
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    animation: fadein 1s;
    margin-left: 11%;
    margin-right: 10%;
    width: 75vw;
    padding-top: 10px;
}

.publication h2 {
    font-style: italic;
}

.publicationContent p {
    font-size: 20px;
}

.publicationContent .articleImage {
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.publicationContent .hoverText {
    font-style: italic;
    font-size: 18px;
}

#kindling {
    position: inherit
}

@keyframes fadein {
    from {opacity: 0}
    to {opacity: 1}
}