.resumeContent {
    margin-top: 2%;
    animation: fadein 1.5s
}
  
.resumeRender {
    margin-left: 7%;
    overflow: scroll;
    height: 75vh;
}

.resumeText {
    margin-top: 5px;
    text-align: center;
}

.resumeText a:link, a:visited {
    color: black !important;
    text-decoration: underline;
}

.resumeText a:hover, a:active {
    background-color: black !important;
    color: white !important;
    text-decoration: none;
}

@keyframes fadein {
    from {opacity: 0}
    to {opacity: 1}
}