.resumeContent {
    margin-top: 2%;
    animation: fadein 1.5s
}
  
.resumeRender {
    margin-left: 5%;
    overflow: scroll;
    height: 70vh;
}

.resumeText {
    margin-top: 5px;
    text-align: center;
    padding-bottom: 15px;
}

.resumeText a:link, a:visited {
    color: white;
    text-decoration: underline;
}

.resumeText a:hover, a:active {
    background-color: white !important;
    color: black !important;
    text-decoration: none;
}

.resumePage h1 {
    padding-left: 0px;
    padding-right: 0px;
}

@keyframes fadein {
    from {opacity: 0}
    to {opacity: 1}
}