.aboutPage {
    max-width: 75vw;
}

.aboutContent {
    max-width: 75vw;
    max-height: 75vh;
    animation: fadein 1.75s;
    padding-left: 10px;
}

.aboutContent img {
    width: 100%;
}

.aboutHeader {
    font-size: 28px
}

.aboutText {
    list-style-type: circle;
    font-size: 20px
}

@keyframes fadein {
    from {opacity: 0}
    to {opacity: 1}
}