#contentContainer {
    background-color: rgb(23, 34, 53);
    grid-row-start: 2;
}

#portfolioContent {
    animation: fadein 1.75s;
    overflow-y: scroll;
    padding: 5%;
    height: 80%;
}

#displayContent {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    margin: auto;
    width: 75%;
}

.hideIcon {
    visibility: hidden;
}

#backArrow {
    filter: invert(100%);
    width: 5%;
}

#backArrow:hover {
    cursor: pointer;
    -webkit-transform: scale(1.25);
    -ms-transform: scale(1.25);
    transform: scale(1.25);
}

.contentHeader {
    text-align: center;
    font-size: 42px;
}

#skillIconContainer {
    animation: fadein 1s;
}

.skillIcon {
    filter: grayscale(100%);
    padding: 2%;
    width: 15%;
}

.skillIcon:hover {
    filter: grayscale(0%);
}

.fixedContent {
    position: fixed;
    right: 0;
}

@keyframes fadein {
    from {opacity: 0}
    to {opacity: 1}
}

// @media only screen and (max-width: 1023px) {
//     #contentContainer {
//         width: 100vw;
//         float: unset;
//         height: auto;
//     }

//     #portfolioContent {
//         height: auto;
//         margin-top: 20vh;
//         padding-bottom: 0%;
//     }

//     #contentContainer.fixedContent {
//         top: 0vh;
//         height: 100vh;
//     }

//     .skillIcon {
//         filter: unset
//     }
// }

// @media only screen and (max-width: 435px) {
//     #contentContainer {
//         height: 100vh;
//     }

//     #portfolioContent {
//         margin-top: 25vh;
//         background-color: rgb(23, 34, 53);
//     }

//     #backArrow {
//         width: 10%;
//     }

//     #displayContent {
//         background-color: rgb(23, 34, 53);
//     }
// }

// @media only screen and (max-width: 360px) {
//     .aboutPage {
//         top: 25vh;
//         position: absolute;
//     }

//     #backArrow {
//         position: absolute;
//         z-index: 1;
//     }
// }

// @media only screen and (max-width: 325px) {
//     #displayContent {
//         display: unset;
//         height: 100vh;
//         margin: unset;
//         width: 100%;
//     }

//     #portfolioContent {
//         min-height: 50vh;
//     }
// }