#contentContainer {
    background-color: rgb(23, 34, 53);
    height: 100vh;
    width: 65vw;
    float: right;
}

#portfolioContent {
    animation: fadein 1.75s;
    overflow-y: scroll;
    padding: 5%;
    height: 75%;
}

#displayContent {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    width: 66%;
}

.hideIcon {
    visibility: hidden;
}

#backArrow {
    filter: invert(100%);
    width: 5%;
}

#backArrow:hover {
    cursor: pointer;
    -webkit-transform: scale(1.25);
    -ms-transform: scale(1.25);
    transform: scale(1.25);
}

.skillIcon {
    filter: grayscale(100%);
    padding: 2%;
    width: 15%;
}

.skillIcon:hover {
    filter: grayscale(0%);
}

@keyframes fadein {
    from {opacity: 0}
    to {opacity: 1}
  }