.homePage {
    max-width: 100%;
    max-height: 85vh;
}

.homeIcons p {
    margin-left: -15%;
    margin-right: -10%;
    color: white;
    font-size: 20px;
    text-align: center;
    font-style: italic;
}

.homeIcons img {
    cursor: pointer;
}

.homeText h3 {
    text-align: center;
}

.homeText p {
    text-align: center;
    font-size: 28px
}

.visitPage {
    cursor: pointer;
}