#projectContainer {
    height: 100%;
    width: 100%;
}

.cardContainer {
    overflow-y: scroll;
}

.buttons, .contentCards {
    animation: fadein 1.5s
}

.contentCards {
    display: grid;
}

.containerHeader {
    cursor: pointer;
    font-size: 28px;
    text-align: center;
}

.containerHeader:hover {
    text-decoration: underline;
}

.hideContainer {
    display: none;
}

#worksContainer {
    animation: fadein 1s;
}


@keyframes fadein {
    from {opacity: 0}
    to {opacity: 1}
}
