.projectContent {
    animation: fadein 1s;
    color: black;
    background-color :rgb(245, 245, 245);
    width: 75vw;
    margin: auto;
    display: grid;
    padding: 2% 0%
}

.projectImage {
    width: 75%;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    margin: auto;
    border: 2px solid black;
}

.description {
    text-align: justify;
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
    width: 75%;
    margin: auto;
}

.textContainer {
    width: 45%;
    float: left
}

.skillContainer {
    width: 45%;
    float: right;
}

.skillContainer .skillIcon {
    filter:grayscale(0%)
}

.projectHeader {
    font-style: italic;
}

.projectHeader, .projectSubheader {
    text-align: center;
}

@keyframes fadein {
    from {opacity: 0}
    to {opacity: 1}
}

@media only screen and (max-width: 1023px) {
    .projectContent {
        width: 100vw;
        margin-top: 20vh;
        height: 80vh;
    }
}

@media only screen and (max-width: 425px) {
    .projectContent {
        width: 100vw;
        margin-top: 25vh;
        height: 100vh;
    }
    
    .textContainer, .skillContainer {
        float: unset;
        width: 100%;
    }

    .iconSpace {
        display: inline-flex;
        margin: auto;
        align-items: center;
        justify-content: center;
    }
}