.projectCard {
    background-color: white;
    color: black;
    display: inline-grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.projectCard:hover {
    cursor: zoom-in;
}

.cardImageContainer {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    cursor: pointer;
    float: center;
}