.projectContent {
    animation: fadein 1s;
    color: black;
    background-color :rgb(245, 245, 245);
    width: 75vw;
    margin: auto;
    display: grid;
    padding: 2% 0%
}

.projectImage {
    width: 75%;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    margin: auto;
    border: 2px solid black;
}

.description {
    text-align: justify;
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
    width: 75%;
    margin: auto;
}

.textContainer {
    width: 45%;
    float: left
}

.skillContainer {
    width: 45%;
    float: right;
}

.skillContainer .skillIcon {
    filter:grayscale(0%)
}

.projectHeader {
    font-style: italic;
}

.projectHeader, .projectSubheader {
    text-align: center;
}

@keyframes fadein {
    from {opacity: 0}
    to {opacity: 1}
}

 /* iPad */
 /* @media only screen and (min-width: 768px) and (min-height: 813px) and (max-height: 1024px){
     .projectContent {
         margin-left: 11% !important;
         margin-top: 75px;
     }
 } */
/* 
 @media only screen and (max-width: 1024px) and (orientation: portrait) {
    .projectContent {
        margin-left: 75px;
        margin-top: 75px;
    }
 } */

 /* iPad Pro */

 /* @media only screen and (max-width: 1366px) and (orientation: portrait) {
     .projectContent {
         margin-left: 150px;
         margin-top: 0px;
     }
 } */

 /* @media only screen and (min-width: 1366px) and (orientation: landscape) {
     .projectContent {
        margin-top: 0%;
     }
 } */

 /* phones */

 /* @media only screen and (max-width: 823px) and (orientation: portrait) {
     .projectContent {
         margin-left: 7%
     }
 } */
/* 
 @media only screen and (max-width: 823px) and (orientation:landscape) {
     .projectContent {
         margin-left: 10%;
     }
 } */