#projectContainer {
    height: 100%;
    width: 100%;
}

.headerDiv {
    width: 100%;
    text-align: center;
    padding-bottom: 3%;
}

.cardContainer {
    overflow-y: scroll;
}

.buttons, .contentCards {
    animation: fadein 1.5s
}

.contentCards {
    display: grid;
}

.containerHeader {
    cursor: pointer;
    font-size: 28px;
}

.containerHeader:hover {
    text-decoration: underline;
}

.hideContainer {
    display: none;
}

#worksContainer, .cardContainer {
    animation: fadein 1s;
}


@keyframes fadein {
    from {opacity: 0}
    to {opacity: 1}
}
