.publication {
    animation: fadein 1s;
    background-color: rgb(245, 245, 245);
    color: black;
    display: grid;
    margin: auto;
    width: 75vw;
    padding-top: 2% 0%;
}

.articleImage {
    width: 75%;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    margin: auto;
    border: 2px solid black;
}

.publication h2 {
    font-style: italic;
    text-align: center;
}

.publicationContent p {
    font-size: 20px;
    text-align: center;
}

.externalLink, 
.externalLink:hover, 
.externalLink:active, 
.externalLink:visited {
    color: blue;
}

@keyframes fadein {
    from {opacity: 0}
    to {opacity: 1}
}