#workModal {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .55);
    z-index: 1;
    top: 0;
    right: 0;
    cursor: zoom-out;
    overflow-y: scroll;
    margin: auto;
    display: grid;
}

@media only screen and (max-width: 1023px) {
    #workModal {
        position: fixed;
        z-index: 2;
    }
}

@media only screen and (max-width: 435px) {
    #workModal {
        overflow-y: initial;
    }
}