.App {
  color: #ffffff;
  font-family: 'Outfit', sans-serif;
  max-width: 768px;
  margin: 0 auto;

  a,
  a:hover,
  a:active,
  a:visited {
    color: white;
  }

  a:hover {
    text-decoration: none;
  }
}