.App {
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  color: #ffffff;
  display: grid;
  grid-template-rows: 1fr 3fr;

  a,
  a:hover,
  a:active,
  a:visited {
    color: white;
  }

  a:hover {
    text-decoration: none;
  }
}

@media only screen and (min-width: 1024px) {
  .App {
    display: inline-grid;
    grid-template-rows: none;
    grid-template-columns: 1fr 2fr;
  }
}