.headshot {
  float: left;
  margin-left: 150px;
}

.homeText {
  text-align: center
}

.header {
  /* font-family: 'Playfair Display', serif; */
  font-family: 'Fira Sans', sans-serif;
  background-color: black;
  color: white;
  text-align: center;
}
